body, html {
    overflow-x: hidden;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden !important;
    color: #838282;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #2f2f2f;
}
a:focus {
    outline: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding-bottom: 10px;
}
img {
    border: none;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}
.fullscreen-bg__video {
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    border: none;
    margin: auto;
    padding: 0;
    border-radius: 10px;
    width: 50%;
    z-index: 3;
    box-shadow: 0 0 0 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}
.close:hover, .close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #3A967F;
    color: white;
}
.modal-header h2 {
    font-size: 24px;
    line-height: 50px;
    padding: 0;
}
.modal-body {
    padding: 15px 15px;
}

/* schedule */


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 800px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
th {
    color: #fff;
    background: #3A967F;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
tr:nth-child(odd) td {
    background: #EBEBEB;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}
td:last-child {
    border-right: 0px;
}
th.text-left {
    text-align: left;
}
td.text-left {
    text-align: left;
}
td.text-info {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
tr:nth-child(odd) td.text-info {
    background: #333;
}
tr:nth-child(even) td.text-info {
    background: #444;
}

/* Mobile version of schedule */
.harmonogram-mobile{
  display: none;
}

.harmonogram-mobile .table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 800px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.harmonogram-mobile th {
    color: #fff;
    border-bottom: 0px solid #fff;
    border-right: 0px solid #fff;
    background: #3A967F;
    font-size: 20px;
    padding: 15px;
    text-align: left;
    text-shadow: 0;
    vertical-align: middle;
}

.harmonogram-mobile tr {
    border: 0;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

#lol-mobile{
    display: none;
}

td.text-info {
    font-size: 22px;
    background-color: #444;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99999;
    /* makes sure it stays on top */
}
.loader {
    font-size: 10px;
    top: 300px;
    margin: 0 auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
}
.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*scrol to top*/

.scrollToTop {
    background: #4EBA9D none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 60px;
    display: none;
    font-size: 25px;
    height: 55px;
    line-height: 50px;
    position: fixed;
    right: 50px;
    text-align: center;
    text-decoration: none;
    width: 55px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
    color: #fff;
}
.scrollToTop:hover, .scrollToTop:focus {
    color: #4EBA9D;
    text-decoration: none;
    outline: none;
    background-color: #eee;
}
#header {
    float: left;
    display: inline;
    width: 100%;
}
.header-inner {
    display: inline;
    position: relative;
    float: left;
    width: 100%;
}
.header-inner>img {
    width: 100%;
}

#header-mobile {
    display: none;
}
.header-overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-clouds {
    padding: 70px 0 10px 0;
}
.cloud {
    width: 200px;
    height: 60px;
    background: #fff;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: relative;
}
.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}
.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}
.x1 {
    -webkit-animation: moveclouds 60s linear infinite;
    -moz-animation: moveclouds 60s linear infinite;
    -o-animation: moveclouds 60s linear infinite;
    opacity: 0.4;
}
.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    -webkit-animation: moveclouds 50s linear infinite;
    -moz-animation: moveclouds 50s linear infinite;
    -o-animation: moveclouds 50s linear infinite;
}
.x3 {
    left: -250px;
    top: -200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
}
.x4 {
    left: 470px;
    top: -250px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 30s linear infinite;
    -moz-animation: moveclouds 30s linear infinite;
    -o-animation: moveclouds 30s linear infinite;
}
.x5 {
    left: -150px;
    top: -150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}
.x6 {
    left: -50px;
    top: -130px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 30s linear infinite;
    -moz-animation: moveclouds 30s linear infinite;
    -o-animation: moveclouds 30s linear infinite;
}
@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
.header-btn-area {
    float: left;
    display: inline;
    width: 100%;
    text-align: center;
}
.header-btn-area a {
    margin: 0px 15px;
}
.knowmore-btn {
    position: absolute;
    bottom: 20%;
    border-radius: 150px;
    color: #fff;
    background: #FE5D26;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.knowmore-btn:hover, .knowmore-btn:focus {
    background: #002726;
    color: #fff;
    text-decoration: none;
}
#menu-area {
    float: left;
    display: inline;
    width: 100%;
}
.main-navbar {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
    border-right: medium none;
    height: 100px;
    margin-bottom: 0;
    display: none;
}
.navbar-fixed-top {
    height: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: inline;
    z-index: 2;
}
.logo {
    height: 100px;
    width: 85px;
    margin-right: 45px;
    margin-top: -1px;
    padding: 0;
}
.logo-compressed {
    height: 80px;
    width: 70px;
}
.logo img {
    height: 100%;
    width: 100%;
}
#navbar {
    float: left;
    width: 83%;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: 100%;
}
.main-nav li {
    display: inline-block;
    float: none;
}
.main-nav li a {
    color: #636363;
    font-size: 15px;
    padding: 39px 20px;
    text-transform: uppercase;
}
.less-padding {
    padding: 30px 20px !important;
}
.navbar-default .navbar-nav > li > a {
    color: #636363;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}
#schedule {
    background-color: #fff;
    padding: 70px 0;
    float: left;
    display: inline;
    width: 100%;
}
.title-area {
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
    width: 100%;
}
.tittle {
    color: #3a3a3a;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 18px;
}
.tittle-line {
    background-color: #898989;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}
.button {
    float: left;
    display: block;
    margin: 1em;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}
.button-default {
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
    font-weight: 600;
    font-size: 18px;
    padding: 0;
    -webkit-transition: border-color 0.3s, background-color 0.3s;
    transition: border-color 0.3s, background-color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-default::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    color: #3f51b5;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}
.button-default > span {
    display: block;
}
.button-default:after {
    color: #fff;
}
.button-default::after, .button-default > span {
    padding: 12px 21px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-default:hover {
    background-color: rgba(63, 81, 181, 0.1);
    text-decoration: none;
}
.button-default:hover, .button-default:focus {
    color: #fff !important;
}
.button-default:hover::after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.button-default:hover > span {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}

/*--------------------*/
/* Pekaton */
/*--------------------*/
#pekaton {
    display: inline;
    float: left;
    position: relative;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 400px;
    background: #FF7834;
}
#pekaton .call-to-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
#pekaton .pekaton-btn {
    margin: 0 auto;
    border-radius: 100px;
    margin-top: 25%;
    color: #FE5D26;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 3px solid white;
    z-index: 2;
}
#pekaton .call-to-content .pekaton-btn:hover, .call-to-content .pekaton-btn:focus {
    background: none;
    color: #fff;
    border: 3px solid white;
    text-decoration: none;
}

/*--------------------*/


/* LOL_SECTION */


/*--------------------*/

#lol-section {
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
.lol-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background: rgba(0, 0, 0, 0.3);
}
.lol-overlay .content {
    display: block;
    margin-top: 150px;
}
.lol-overlay .content .logo {
    width: 39%;
    height: 100%;
}
.lol-overlay .content .text {
    color: #fff;
    text-align: center;
    width: 56%;
    height: 100%;
}
.lol-overlay .content .text h1 {
    color: #ECDD92;
    padding-bottom: 20px;
    text-shadow: 0 0 10px #000, 0 0 5px #000;
}
.lol-overlay .content .text .lol-section-btn {
    color: #ECDD92;
    background: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 25px 28px;
    border: 3px solid #E2CA55;
    z-index: 1;
    text-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.lol-overlay .content .text .lol-section-btn:hover, .call-to-content .lol-section-btn:focus {
    color: #E4B724;
    border: 3px solid #E4B724;
    text-decoration: none;
    background: rgba(137, 109, 15, 0.3);
}
.call-to-content a {
    display: inline-block;
    float: none;
    margin-top: 29px;
}

/*--------------------*/


/* TEAM */


/*--------------------*/

#workshops {
    display: inline;
    padding: 70px 0px;
    float: left;
    width: 100%;
}
.team-area {
    display: inline;
    float: left;
    padding-bottom: 56px;
    width: 100%;
}
.team-content {
    display: inline;
    float: left;
    margin-top: 18px;
    width: 100%;
}
.team-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.team-grid li {
    display: inline-block;
    height: 230px;
    margin: 60px 25px;
    width: 20%;
}
.team-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.team-img-1 {
    background-image: url(assets/images/android.png);
}
.team-img-2 {
    background-image: url(assets/images/spring.png);
}
.team-img-3 {
    background-image: url(assets/images/tdd.png);
}
.team-img-4 {
    background-image: url(assets/images/python.png);
}
.team-img-5 {
    background-image: url(assets/images/ib.png);
}
.team-img-6 {
    background-image: url(assets/images/lol.png);
}
.team-img-7 {
    background-image: url(assets/images/cc.png);
}
.team-img-8 {
    background-image: url(assets/images/wj.png);
}
.first{
    animation-delay:0.0s;
}
.second{
    animation-delay:0.1s;
}
.third{
    animation-delay:0.2s;
}
.fourth{
    animation-delay:0.3s;
}
.team-info {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 55px 0;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
}
.r-button {
    width: 70%;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #FF5300;
}
.r-button:hover {
    background: #132B26;
    color: #fff;
}
.lol-button {
    margin: 34px 2px 0px 2px;
}
a.r-button {
    text-decoration: none;
}
a.r-button:hover {
    text-decoration: none;
}
*:focus {
    outline: none;
}
.team-grid li:hover .team-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.team-address {
    display: inline;
    float: left;
    margin-top: 26px;
    text-align: center;
    width: 100%;
}
.team-address p {
    color: #525252;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.team-address span {
    color: #777777;
    font-size: 17px;
    font-style: italic;
    font-family: "Raleway", sans-serif;
}
#others {
    background-color: #F6F6F6;
    float: left;
    display: inline;
    padding: 70px 0;
    width: 100%;
}
#lectures {
    background-color: #fff;
    float: left;
    display: inline;
    padding: 70px 0;
    width: 100%;
    position: relative;
}

.service-content {
    display: inline;
    margin-top: 0;
    float: left;
    width: 100%;
}
.service-table {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.single-service {
    display: inline;
    float: left;
    margin-bottom: 20px;
    padding: 10px 20px 30px 20px;
    position: relative;
    text-align: left;
    width: 100%;
    -w-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.single-service:after {
    content: '';
    position: absolute;
    left: 0;
    opacity: 0;
    bottom: 0;
    height: 24px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.single-service:hover:after {
    opacity: 1;
}
.single-service:hover {
    background-color: #EDEDED;
}
.single-service .service-title {
    color: #333;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.single-service p {
    color: #878787;
}

/*--------------------*/


/* speakers */


/*--------------------*/

#speakers {
    background-color: #F6F6F6;
    display: inline;
    float: left;
    padding: 70px 0;
    width: 100%;
}
.speakers-area {
    display: inline;
    float: left;
    width: 100%;
}
.speakers-content {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
}
.speakers-menu {
    display: inline;
    float: left;
    width: 100%;
}
.speakers-menu ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.speakers-menu ul li {
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    cursor: pointer;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 13px;
    padding: 6px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.speakers-container {
    display: inline;
    float: left;
    margin-left: -9px;
    margin-top: 60px;
    width: 100%;
}
.single-speakers {
    display: inline;
    float: left;
    margin-bottom: 18px;
    margin-left: 18px;
    width: 23.4%;
}
.single-item {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.single-item>img {
    width: 100%;
    display: block;
    height: 290px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.single-item>img:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#mixit-container .mix {
    display: none;
}
.single-item-content {
    display: inline;
    opacity: 0;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.speakers-social-icon {
    float: left;
    display: inline;
    padding: 110px 50px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.single-item:hover .single-item-content {
    opacity: 1;
}
.single-item-content:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.speakers-title {
    bottom: 0;
    display: inline;
    opacity: 0;
    left: 0;
    padding-bottom: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.single-item:hover .speakers-title {
    opacity: 1;
}
.speakers-title {
    bottom: 0;
    display: inline;
    opacity: 0;
    left: 0;
    padding-bottom: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
.speakers-title h4 {
    color: #fff7f7;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
}
.speakers-title span {
    color: #fff7f7;
    font-size: 12px;
    font-family: "Raleway", sans-serif;
}

/*--------------------*/


/* FORM BLOG */


/*--------------------*/

#partners {
    background-color: #fff;
    display: inline;
    padding: 70px 0;
    float: left;
    width: 100%;
}
.from-blog-area {
    display: inline;
    float: left;
    width: 100%;
}
.from-blog-content {
    display: inline;
    float: left;
    margin-top: 60px;
    width: 100%;
}
.sponsor {
    display: inline;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.sponsor figure {
    display: inline;
    float: left;
    width: 100%;
}
.sponsor figure img {
    max-width: 400px;
}
#contact {
    background-image: url("assets/images/contact-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 70px 0;
    width: 100%;
}
#contact .title-area {
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
    width: 100%;
}
#contact .tittle {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 18px;
}
#contact .tittle-line {
    background-color: #fefefe;
    display: inline-block;
    height: 3px;
    margin-bottom: 46px;
    width: 60px;
}
#contact .contact-left {
    display: inline;
    float: left;
    width: 100%;
}
.contact-left img {
    display: block;
    float: left;
    color: #fafafa;
    font-size: 30px;
    padding: 0 20px 0 40px;
}
.contact-left .mail {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    color: #fafafa;
    font-size: 26px;
    line-height: 2.5em;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.contact-left .mail:hover {
    background-color: rgba(200, 158, 6, 0.5);
}
.contact-right .fbc {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    color: #fafafa;
    font-size: 26px;
    line-height: 2.5em;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.contact-right .fbc:hover {
    background-color: rgba(5, 124, 153, 0.5);
}
.contact-right img {
    display: block;
    float: left;
    color: #fafafa;
    padding: 0 20px 0 110px;
}
.contact-form .form-group input {
    background: transparent;
    color: #e1e1e1;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 0;
    height: 45px;
    margin-bottom: 24px;
}
.contact-form .form-group textarea {
    color: #e1e1e1;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    height: 190px;
}
.contact-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.contact-form .form-control::-webkit-input-placeholder {
    color: #e2e2e2;
    font-size: 20px;
}
.contact-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #e2e2e2;
    font-size: 20px;
}
.contact-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #e2e2e2;
    font-size: 20px;
}
.contact-form .form-control:-ms-input-placeholder {
    color: #e2e2e2;
    font-size: 20px;
}
.contact-form button {
    float: right;
    margin-right: 0;
    border-radius: 0px;
}
.contact-form.button-default::after, .contact-form .button-default > span {
    padding: 12px 40px;
}
#google-map {
    display: inline;
    float: left;
    width: 100%;
}
#google-map .scrolloff {
    pointer-events: none;
}
#footer {
    background-color: #242424;
    display: inline;
    float: left;
    margin-top: -6px;
    width: 100%;
}
.footer-top {
    display: inline;
    float: left;
    width: 100%;
}
.footer-top-area {
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}
.footer-social {
    display: inline;
    float: left;
    margin: 40px 0px;
    width: 100%;
}
.footer-social a {
    border: 1px solid #505050;
    border-radius: 50%;
    color: #b8b8b8;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 0 9px;
    text-align: center;
    width: 48px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.footer-social a.facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.footer-bottom {
    display: inline;
    border-top: 1px solid #434343;
    float: left;
    padding: 40px 0;
    width: 100%;
    text-align: center;
}
.footer-bottom p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0px;
}

/*--------------------*/


/* GRAPHIC */


/*--------------------*/

#graphic {
    background-color: #FF6C37;
    float: left;
    display: inline;
    padding: 70px 0;
    width: 100%;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #002726;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #002726;
    border-right: 0 solid #002726;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #002726;
    border-right: 0 solid #002726;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.info {
    background-color: #002726 !important;
}
.timeline-title {
    margin-top: 0;
    color: #002726;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
    color: #002726;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.lectures-span{
    color: #4EBB9E;
    font-weight: 600;
}

/*======================///////////////
start responsive style
=====================///////////////////////*/

@media(max-width:1199px) {
    #schedule {
        padding: 20px 0 0 0;
    }
    #contact {
        background-image: url("assets/images/contact-bg.jpg");
        background-size: cover;
        display: inline;
        padding: 50px 0;
    }
    #contact .title-area {
        padding: 0px;
    }
    #contact .tittle {
        font-size: 30px;
    }
    #contact .contact-left {
        display: inline;
        float: none;
        width: 100%;
    }
    .contact-left img {
        width: 50px;
        font-size: 20px;
        padding: 0;
    }
    .contact-left .mail {
        border-radius: 20px;
        color: #fafafa;
        font-size: 18px;
        line-height: 2.7em;
    }
    .contact-left span{
        padding-left: 15px;
    }
    #contact .contact-right {
        display: inline;
        float: none;
        width: 100%;
    }
    .contact-right .fbc {
        border-radius: 20px;
        color: #fafafa;
        font-size: 18px;
        line-height: 2.7em;
    }

    .contact-right img {
        width: 50px;
        font-size: 20px;
        padding: 0;
    }
    .contact-right span{
        padding-left: 15px;
    }



    .sponsor figure img {
        display: block;
        width: 80%;
    }
    #speakers{
        display: none;
    }
    #pekaton .call-to-overlay {
        height: 353px;
        width: 100%;
        background-size: 100%;
        background-position: 50% 50%;
        background: url("assets/images/hackathon-bg-m.jpg") no-repeat center center ;
        background-color: #FF7834;
    }
    #pekaton .pekaton-btn {
        margin-top: 55%;
    }
    #header-desktop{
        display: none;
    }
    #header-mobile{
        display: block;
    }
    #lol-mobile{
        display: block;
    }
    .lol-overlay{
        background: none;
    }
    .lol-overlay .content {
        display: none;
    }
    video{
        display: none;
    }
    .speakers{
        display: none;
    }
    #lectures .title-area p{
        padding: 10px 0;
        background-color: #FE5D26;
        color: #fff;
    }
    #lectures .title-area p .lectures-span{
        color: #FDF2B3;
        font-weight: bold;
    }
    #others{
        display: none;
    }
    #workshops{
        display: none;
    }
    .container{
        padding: 0;
    }
    .knowmore-btn {
        display: none;
        font-size: 18px;
        padding: 20px 25px;
    }
    .header-clouds{
      display: none;
    }
    .header-btn-area {
        margin-top: 65px;
    }
    .harmonogram-mobile{
      display: block;
    }
    .harmonogram{
      display: none;
    }
    th{
      padding: 10px;
    }
    .logo {
        margin-right: 0;
    }
    #navbar {
        width: 87%;
    }
    .main-nav li a {
        font-size: 18px;
        padding: 39px 16px;
    }
    .team-grid li {
        height: 198px;
        margin: 20px;
        width: 20%;
    }
    .team-img-1, .team-img-2, .team-img-3, .team-img-4 {
        background-position: center center;
    }
    .team-info {
        padding: 12px 0px;
    }
    .team-info a {
        margin: 0 2px;
    }
    .single-service {
        padding: 45px 15px;
    }
    .single-service .service-title {
        font-size: 20px;
    }
    .single-speakers {
        width: 23%;
    }
    .contact-left h2, .contact-right h2 {
        font-size: 26px;
    }
    #a3,#a5{
        display: none;
    }
}
@media(max-width:991px) {
    .knowmore-btn {
        display: none;
        font-size: 16px;
        padding: 18px 20px;
    }
    .header-btn-area {
        margin-top: 20px;
    }
    #navbar {
        width: 86%;
    }
    .main-nav li{
        padding: 10px 0px;
        border-bottom: 1px solid #fafafa;
    }
    .main-nav li a {
        font-size: 28px;
        padding: 39px 7px;
    }
    .less-padding {
        padding: 30px 7px !important;
    }
    .team-grid li {
        height: 170px;
        margin: 20px 10px;
        width: 21%;
    }
    .team-info a {
        font-size: 15px;
        height: 25px;
        width: 25px;
    }
    .team-address p {
        font-size: 16px;
    }
    .team-address span {
        font-size: 14px;
    }
    .title-area {
        padding: 0 100px;
    }
    .single-speakers {
        width: 22.5%;
    }
    .speakers-social-icon {
        padding: 85px 50px;
    }
    .speakers-title h4 {
        font-size: 13px;
    }
    #a3,#a5{
        display: none;
    }
}
@media(max-width:767px) {
    .knowmore-btn {
        display: none;
        font-size: 15px;
        padding: 15px 18px;
    }
    .main-nav li {
        display: block;
        float: left;
        width: 100%;
    }
    .main-nav li a {
        font-size: 18px;
        display: block;
        padding: 8px 7px;
    }
    #a3,#a5{
        display: none;
    }
    .less-padding {
        padding: 8px 7px !important;
    }
    #navbar {
        margin-right: 0;
        width: 104.5%;
    }
    .main-nav {
        background: #fff none repeat scroll 0 0;
        display: block;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-right: 5%;
        margin-top: 32px;
        border-radius: 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #4EBB9E;
        border-color: #4EBB9E;
        color: #fff;
    }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #fff;
    }
    .navbar-fixed-top .navbar-toggle {
        margin-top: 25px;
    }
    .logo-compressed {
        margin-top: 5px;
        margin-left: 5%;
        height: 70px;
        width: 60px;
    }
    .title-area {
        padding: 0 50px;
    }
    .team-grid li {
        height: 230px;
        margin: 20px 25px 70px;
        width: 38%;
    }
    .team-img-1, .team-img-2, .team-img-3, .team-img-4 {
        background-position: center center;
        background-size: 100% auto;
    }
    .team-info {
        padding: 30px 18px;
    }
    .single-speakers {
        width: 30.3%;
    }
    .button-default::after, .button-default > span {
        padding: 12px 8px;
        font-size: 12px;
    }
    .contact-left {
        margin-bottom: 30px;
    }
}
@media(max-width:480px) {
    .knowmore-btn {
        display: none;
        font-size: 14px;
        padding: 10px 15px;
    }
    #navbar {
        width: 106%;
    }
    .title-area {
        padding: 0 15px;
    }
    .team-grid {
        padding: 0 75px;
    }
    .team-grid li {
        height: 300px;
        margin: 20px 0 70px;
        width: 100%;
    }
    .team-info {
        padding: 70px 18px;
    }
    .single-speakers {
        margin-left: 8px;
        width: 100%;
    }
    .button-default::after, .button-default > span {
        font-size: 10px;
    }
}
@media(max-width:360px) {
    .header-inner > img {
        width: 100%;
    }
    .header-btn-area {
        margin-top: 00px;
    }
    .header-btn-area a {
        display: none;
        margin: 10px 15px;
    }
    .knowmore-btn {
        display: none;
        font-size: 14px;
        padding: 7px 8px;
    }
    #navbar {
        width: 108.3%;
    }
    .title-area {
        padding: 0 10px;
    }
    .tittle {
        font-size: 20px;
        padding-bottom: 5px;
    }
    .title-area p {
        font-size: 14px;
    }
    .team-grid {
        padding: 0 55px;
    }
    .team-grid li {
        height: 220px;
    }
    .team-info {
        padding: 20px 10px;
    }
    .speakers-container {
        margin-left: 0;
    }
    .speakers-menu ul li {
        font-size: 12px;
        margin: 0 7px 5px;
        padding: 8px;
    }
    .single-speakers {
        width: 100%;
        margin-left: 0px;
    }
    .speakers-social-icon {
        padding: 105px 50px;
    }
    .button-default::after, .button-default > span {
        font-size: 14px;
    }
    .contact-left h2, .contact-right h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .single-address p {
        font-size: 13px;
    }
    .contact-right {
        padding: 30px 20px;
    }
    .contact-form .form-group input {
        font-size: 16px;
        height: 40px;
    }
    .footer-social a {
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        margin: 0 5px;
        width: 40px;
    }
}
@media(max-width:320px) {
    #navbar {
        width: 109%;
    }
    .team-grid {
        padding: 0 35px;
    }
    .team-info {
        padding: 25px 10px;
    }
    .footer-social a {
        font-size: 14px;
        height: 35px;
        line-height: 35px;
        margin: 0 2px;
        width: 35px;
    }
    .footer-bottom p {
        font-size: 15px;
    }
}
