.knowmore-btn:hover,
.knowmore-btn:focus,
.download-btn:hover,
.download-btn:focus{
  background-color: #4EBA9D;
  border-color: #4EBA9D;
}
.main-nav li a:hover{
  color: #4EBA9D;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4EBA9D;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4EBA9D;
}
.button-default {
  border: 2px solid #4EBA9D !important;
  color: #4EBA9D !important;
}
.button-default:hover {
  border-color: #4EBA9D;
}
.button-default:hover,
.button-default:focus {
  border-color: #4EBA9D;
  background-color: #4EBA9D !important;
}
.team-info {
  background: rgba(78, 186, 157, 0.6);
}
.team-grid li:hover .team-address p {
  color: #4EBA9D;
}
.single-service {
  border-bottom: 5px solid #4EBA9D;
}
.single-service:hover:after{
  background-color: #4EBA9D;
}
.single-service:hover .service-title{
  color: #4EBA9D;
}
.contact-form .form-control:focus {
  border-color: #4EBA9D;
}
.speakers-menu ul li:hover{
  color: #4EBA9D;
  border-color: #4EBA9D;
}
.speakers-title {
  background-color: #4EBA9D;
}
.loader {
  background: #4EBA9D;
  background: -moz-linear-gradient(left, #4EBA9D 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #4EBA9D 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #4EBA9D 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #4EBA9D 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #4EBA9D 10%, rgba(255, 255, 255, 0) 42%);
}
.loader:before {
  background: #4EBA9D;
}
