.header-content h2 span {
    color: #FE5D26;
}
body {
    background: #002625;
    color: #D8D8D8;
}
#preloader {
    background-color: #002625;
}
.tittle {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 18px;
}
.tittle-line {
    background-color: #999;
    display: inline-block;
    height: 3px;
    margin-bottom: 16px;
    width: 60px;
}
.take-part-btn {
    border-radius: 100px;
    color: #fff;
    background: rgba(255, 108, 55, 0.5);
    ;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    padding: 20px 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 3px solid white;
    z-index: 2;
}
.take-part-btn:hover {
    color: #002625;
    background: rgba(255, 108, 55, 1);
    ;
    font-weight: bold;
    border: 3px solid #FF6C37;
    text-decoration: none;
}
a.regulamin {
    font-size: 14px;
    margin-top: 20px;
    color: #FB9773;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a.regulamin:hover {
    color: #fff;
    text-decoration: none;
}
.pekaton-block {
  text-align: center;
    display: block;
    padding: 70px 0 0 0;
    color: #fff;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    /*background-color: #002625;*/
}
.hl{
  color: #ff9e56;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-weight:bold;
  font-size: 24px;
}

.pekaton-block .title{
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-weight:bold;
  font-size: 20px;
}

#lectures {
    background-color: #193736;
    float: left;
    display: inline;
    padding: 70px 0;
    width: 100%;
}
#sponsors {
    background-color: #193736;
    float: left;
    display: inline;
    padding: 70px 0;
    width: 100%;
}
#contact {
    background-image: url("../../assets/images/contact-bg-pekaton.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline;
    float: left;
    padding: 70px 0;
    width: 100%;
}
#contact .title-area {
    display: inline;
    float: left;
    padding: 0 172px;
    position: relative;
    text-align: center;
    width: 100%;
}
#contact .tittle {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    padding-bottom: 18px;
}
#contact .tittle-line {
    background-color: #fefefe;
    display: inline-block;
    height: 3px;
    margin-bottom: 46px;
    width: 60px;
}
#contact .contact-left {
    display: inline;
    float: left;
    width: 100%;
}
.contact-left img {
    display: block;
    float: left;
    color: #fafafa;
    font-size: 30px;
    padding: 0 20px 0 40px;
}
.contact-left .mail {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    color: #fafafa;
    font-size: 26px;
    line-height: 2.5em;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.contact-left .mail:hover {
    background-color: rgba(200, 158, 6, 0.5);
}
.contact-right .fbc {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 200px;
    color: #fafafa;
    font-size: 26px;
    line-height: 2.5em;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}
.contact-right .fbc:hover {
    background-color: rgba(5, 124, 153, 0.5);
}
.contact-right img {
    display: block;
    float: left;
    color: #fafafa;
    padding: 0 20px 0 110px;
}
.main-navbar-pekaton {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    border-bottom: 1px solid #e7e7e7;
    border-right: medium none;
    height: 100px;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 2px 4px 0px #f3f3f3;
    -moz-box-shadow: 0px 2px 4px 0px #f3f3f3;
    box-shadow: 0px 2px 4px 0px #f3f3f3;
    display: none;
}
#footer {
    background-color: #002625;
}
.main-nav li a:hover {
    color: #FE5D26;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FE5D26;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FE5D26;
}
#map {
    width: 100%;
    height: 500px;
}
.scrollToTop {
    background: #002625;
    color: #FE5D26;
}
.scrollToTop:hover, .scrollToTop:focus {
    background-color: #FE5D26;
}
.loader {
    background: #FE5D26;
    background: -moz-linear-gradient(left, #FE5D26 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #FE5D26 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #FE5D26 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #FE5D26 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #FE5D26 10%, rgba(255, 255, 255, 0) 42%);
}
.loader:before {
    background: #FE5D26;
}
.loader:after {
    background: #002625;
}
.reward{
  margin: 0;
  padding: 0;
}

.bullets{
  list-style-type:disc;
  padding: 0 15px 0 35px;
  text-align: left;
}

.reward img {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
}
